---
---

@import "minima";

/* Custom styles */

.site-header {
  border-top: 4px solid #2a6496;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fdfdfd;
}

.site-title {
  font-weight: 600;
  letter-spacing: -0.5px;
  &, &:visited {
    color: #2a6496;
  }
}

.page-content {
  h2 {
    color: #2a6496;
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 0.3em;
    margin-top: 1.8em;
  }

  h3 {
    color: #333;
  }

  strong {
    color: #222;
  }

  ul {
    li {
      margin-bottom: 0.4em;
    }
  }
}

.site-footer {
  border-top: 2px solid #2a6496;
}

.footer-heading {
  color: #2a6496;
}
